*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.container{
    height: 100svh;
    width: 100svw;
    background: url(../images/anotherMoon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxContent{
    background-color: rgba(143, 67, 40, 0.7);
    height: 75%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 1rem;
}

.top{
    text-align: center;
    margin-top: -5rem;
}

p{
    font-weight: 900;
}

.searchB{
    height: 2rem;
    width: 20rem;
    outline: none;
    border-radius: .3rem;
    border: none;
}

button{
    height: 2rem;
    width: 5rem;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: orange;
}
